<nav class="myNav">
    <div class="navContainer">
        <div class="leftNavWrapper">
            <div class="logoContainer">
                <span class="logoBox">
                    <img width="25" alt="Logo" src="../../../assets/perfilM.png" />

                    <a href="#">
                        <h1 class="name">Matias Parentti</h1>
                       
                    </a>
                </span>

            </div>
        </div>
        <div class="{{linkGroup}}">

            @if ( session() ) {


            <a (click)="cerrar()" routerLink="/proyects" class="childLink">Proyectos</a>
            <a routerLink="/profile" class="childLink">Perfil</a>
            <a (click)="cerrar()" routerLink="/" class="childLink">Inicio</a>
            <a (click)="onLogOut()" class="log">

                <img src="data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' stroke='%23e6770b' fill='none' stroke-linecap='round' stroke-width='1.5' stroke-linejoin='round'%3e%3cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3e%3cpath d='M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2' /%3e%3cpath d='M7 12h14l-3 -3m0 6l3 -3' /%3e%3c/svg%3e"
                    alt="">

            </a>


            }


        </div>

        @if (session()) {

        <div (click)="cerrar()" id="menu-btn" class="fas fa-bars"><svg xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet"
                viewBox="0 0 24 24">
                <path fill="currentColor" d="M21 18H9v-2h12v2Zm0-5H3v-2h18v2Zm0-5H9V6h12v2Z" />
            </svg>
        </div>
        }


    </div>


</nav>