.childLink {
  padding: 0.6rem;
  color: #000000;
  cursor: pointer;
}

.childLinkk {
  padding: 0.6rem;
  color: #000000;
  cursor: pointer;
  right: 0;
  justify-content: right;
}

.log {
  padding: 0.5rem;
  color: #000000;
  cursor: pointer;
  right: 0;
  justify-content: right;
}

.logoBox {
  font-weight: 700;
  font-size: 18px;
  display: inline-flex;
  align-items: center;
  height: 30px;
  line-height: 20px;
  padding: 10px;
}

.myNav {
  position: fixed;
  width: 100%;
  z-index: 6;
  background-color: #f7f8fc;
  top: 0;
  right: 0;
  left: 0;
}

.navContainer {
  display: flex;
  padding: 0.5rem 0.4rem;
  max-width: 57rem;
  margin: auto;
  flex-wrap: wrap;
  align-items: center;
  transition: all 0.5s ease;

}

.linkGroup svg {
  height: 20px;
  width: 20px;
}

svg {
  height: 30px;
  width: 30px;
}

.leftNavWrapper,
.linkGroup {
  display: flex;
}

.logoContainer {
  cursor: pointer;
  display: grid;
  align-content: center;
  justify-content: center;
  place-content: center;
}

.linkGroup {
  margin-left: 1em;
  justify-content: center;
  flex-direction: row;
}

.name {

  color: #000000;
}

a,
a:visited,
a:hover {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: #ec9a49;
}

#menu-btn {
  cursor: pointer;
  font-size: 0.5rem;
  border-radius: .5rem;
  color: #000000;
  background: transparent;
  display: none;
  padding: 0.5rem;
}

#menu-btn:hover {
  color: #ec9a49;
}

img {
  width: 25px;
  height: 25px;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 767px) {

  #menu-btn {
    display: initial;
    right: 0;
  }

  .navContainer {
    display: flex;
    justify-content: space-between;
  }

  .navContainer .linkGroup {
    position: absolute;
    top: 115%;
    right: 2rem;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: #f7f8fc;
    box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .1);
    border-radius: 4px;
    width: 18rem;
    transform: scale(0);
    transform-origin: top right;
  }

  .navContainer .linkGroup.active {
    transform: scale(1);
    opacity: 1;
  }

  .navContainer .linkGroup a {
    font-size: 1rem;
    display: block;
    padding: .5rem;
    margin: .5rem;
    border-radius: .5rem;
  }

  .navContainer .linkGroup a:hover {

    color: #ec9a49;
  }


}