@defer () {
<div class="home">

  @for (profile of profiles; track $index) {


  <div class="row">
    <div class="homeData col">
      <h1 class="homeTitle">
        Hi,<br />I'am <span class="homeTitleColor">{{profile.name}}</span><br />
        Developer
      </h1>
    
      <a href={{profile.lastname}} target="_blank" class="button">CV (↓) </a>

    </div>
    <div class="col image">

      <img width="150" height="150" class="homeImg" alt="imgg" src="https://i.postimg.cc/J458HJg3/perfilM.webp" />


    </div>
  </div>


  }

</div>


}@placeholder {


<div class="loader">
  <div class="wrapper">
    <div class="circle"></div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
    <div class="line-4"></div>
  </div>
</div>

}