<div class="home">

  @for (profile of profiles; track $index) {


  <div class="row">
    <div class="homeData col">
      <h1 class="homeTitle">
        Hi,<br />I'am <span class="homeTitleColor">{{profile.name}}</span><br />
        Web Dev
      </h1>

      <a href="#footer" class="button">CV (↓) </a>


    </div>
    <div class="col image">
      @defer (on timer (500)) {
      <img class="homeImg" src="{{profile.lastname}}" />
      }@placeholder {
      Cargando...
      }

    </div>
  </div>


  }

</div>