<div class="row ">
    <div class=" col-1 col-md-3 col-lg-0 "></div>
    <div class="loginCard col-10 col-md-6 col-lg-12">

        <div class="entry"></div>

        <div>
            <form [formGroup]="form" (ngSubmit)="onSession($event)">

                <div class="mb-3">

                    <div class="input-container">
                        <input placeholder="Usuario" class="input-field" [ngStyle]="style().getInputStyle(usuarioControl)"
                            type="text" id="user" formControlName="user" autocomplete="username">
                        <label for="input-field" class="input-label">MatiasMP</label>
                        <span class="input-highlight"></span>
                    </div>
                    @if (usuarioControl?.errors && usuarioControl?.touched) {
                    @if (usuarioControl?.hasError('required')) {
                    <p class="error ">
                        Usuario es requerido.
                    </p>
                    }@else if (usuarioControl?.errors?.['minlength']) {
                    <p class="error">
                        El Usuario debe ser de 5 o más caracteres.
                    </p>
                    }@else if (usuarioControl?.errors?.['maxlength']) {
                    <p class="error">
                        El Usuario debe ser menor a 12 caracteres.
                    </p>
                    }



                    }

                </div>

                <div class="mb-3">
                    <div class="input-container">
                        <input placeholder="Contraseña" class="input-field" [ngStyle]="style().getInputStyle(passwordControl)"
                            type="password" id="password" formControlName="password" autocomplete="current-password">
                        <label for="input-field" class="input-label">welcome</label>
                        <span class="input-highlight"></span>
                    </div>


                    @if (passwordControl?.errors && passwordControl?.touched) {
                    @if (passwordControl?.hasError('required')) {
                    <p class="error">
                        Contraseña es requerida.
                    </p>
                    }@else if (passwordControl?.errors?.['minlength']) {
                    <p class="error">
                        La Contraseña debe ser de 8 o más caracteres.
                    </p>

                    }
                    }

                </div>

                <div class="mb-3 ">
                    <button type="submit" class="buttonLogin" [disabled]="passwordControl?.errors"
                        [disabled]="usuarioControl?.errors">Init</button>
                </div>

            </form>
        </div>


    </div>
    <div class="col-1 col-md-3 col-lg-0 "></div>

</div>