/* You can add global styles to this file, and also import other style files */

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  background-color: #f7f8fc;
}

body {
   min-height: 100vh;
   max-width: 100%;
   margin: 0 auto;

   overflow-x: hidden;
 }

html {
  scroll-behavior: smooth;
}


h4 {
  text-align: center;
  padding: 5px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}




::view-transition-new(root){
  animation: myAnim 2s ease 0s 1 normal forwards;
}


@keyframes myAnim {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}