<app-nav-bar></app-nav-bar>

@if (session()) {

<div class="container ">
    <app-banner-home></app-banner-home>
    <app-about [session]="session()" [isAdmin]="isAdmin()"></app-about>
    <app-education [session]="session()" [isAdmin]="isAdmin()"></app-education>
    <app-certification [session]="session()" [isAdmin]="isAdmin()"></app-certification>
    <app-experience [session]="session()" [isAdmin]="isAdmin()"></app-experience>
    <app-skills [session]="session()" [isAdmin]="isAdmin()"></app-skills>
</div>



}@else {

<app-login></app-login>

}